/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto; /* Додаємо для можливості гортання */
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-height: 100vh; /* Додаємо для обмеження висоти контейнера */
  overflow-y: auto; /* Додаємо для можливості гортання всередині контейнера */
}

.dimensions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dimensions label,
.dimensions input {
  flex: 1;
  margin: 5px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: calc(100% - 10px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #0056b3;
}

.remove-package {
  background: #ff4b4b;
  margin-top: 10px;
  margin-bottom: 40px;
  float: right; /* Додаємо для переміщення кнопки вправо */
}

.remove-package:hover {
  background: #c70000;
}

#add-package {
  float: left; /* Додаємо для переміщення кнопки вліво */
  margin-bottom: 20px; /* Додаємо для кращого розміщення */
}

#result {
  margin-top: 20px;
}
.package {
  margin-top: 40px;
}
.package-result {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.total-result {
  font-weight: bold;
  margin-top: 20px;
}
.cena {
  display: flex;
  margin-top: 15px;
  width: 100%;
}
