/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto; /* Додаємо для можливості гортання */
}

.container {
  --sb-track-color: #f8f8f8;
  --sb-thumb-color: #d6e0f5;
  --sb-size: 11px;
}

.container::-webkit-scrollbar {
  width: var(--sb-size);
}

.container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .container {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.container {
  background: white;
  padding: 14px;
  border-radius: 20px;
  background: #f8f8f8;

  /* тень 2 */
  box-shadow: 0px 52px 14px 0px rgba(110, 110, 110, 0),
    0px 33px 13px 0px rgba(110, 110, 110, 0.01),
    0px 19px 11px 0px rgba(110, 110, 110, 0.05),
    0px 8px 8px 0px rgba(110, 110, 110, 0.09),
    0px 2px 5px 0px rgba(110, 110, 110, 0.1);
  width: 316px;
  max-height: 100vh; /* Додаємо для обмеження висоти контейнера */
  overflow-y: auto; /* Додаємо для можливості гортання всередині контейнера */
}

.calc {
  width: 316px;
  padding-right: 12.5px;
  padding-left: 12.5px;
  padding-bottom: 20px;
  padding-top: 17px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #f8f8f8;

  /* тень 2 */
  box-shadow: 0px 52px 14px 0px rgba(110, 110, 110, 0),
    0px 33px 13px 0px rgba(110, 110, 110, 0.01),
    0px 19px 11px 0px rgba(110, 110, 110, 0.05),
    0px 8px 8px 0px rgba(110, 110, 110, 0.09),
    0px 2px 5px 0px rgba(110, 110, 110, 0.1);
}

.general-h1 {
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}
.general-h2 {
  color: #000;
  text-align: left;
  font-family: "Tilda Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}
.general-p {
  margin: 0 auto;
  width: 211px;
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.general-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}
.general-li {
  width: 238px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #0184d6;

  &:hover,
  &:focus {
    background-color: #05173b;
  }
}
.general-a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.div-calc {
}
#ua-pl-cont {
  margin-top: 70px;
}
.dimensions {
  display: flex;
  justify-content: space-between; /* Розташування полів по ширині */
  gap: 20px; /* Відступ між групами label+input */
}

.length1,
.width1,
.height1 {
  width: 78px;
  height: 27px;
  margin-top: 10px;
}

.package-size {
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

label {
}

input {
  border: none;
  border-radius: 5px;
  background: #d6e0f5;
}

button {
  color: #05173b;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-color: transparent;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* button:hover {
  background: #0056b3;
} */

.remove-package {
  display: flex;
  color: #ff543e;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  margin-top: 10px;
  margin-bottom: 40px;
  float: right; /* Додаємо для переміщення кнопки вправо */
}

.dimensions-second {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column; /* Лейбл над інпутом */
  align-items: flex-start; /* Вирівнювання по лівому краю */
}

.field-cena {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column; /* Лейбл над інпутом */
  align-items: flex-start; /* Вирівнювання по лівому краю */
}

#package-weight {
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.weight1 {
  width: 121px;
  height: 27px;
  margin-top: 10px;
}

#value {
  width: 142px;
  height: 27px;
  margin-top: 10px;
}

.add-package {
  display: flex;
  float: left; /* Додаємо для переміщення кнопки вліво */
  margin-bottom: 20px; /* Додаємо для кращого розміщення */
  color: #05173b;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-color: transparent;
  padding: 10px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.svg-add {
  margin-right: 4.7px;
}
.icon-add {
  fill: #05173b;
  stroke: #05173b;
}
#result {
  margin-top: 20px;
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}

.result-h2 {
  display: flex;
  margin-top: 30px;
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}

.package {
  margin-top: 40px;
}

.div-package-result {
}

.total-result {
  font-weight: bold;
  margin-top: 20px;
}

#calculate {
  display: flex;
  width: 281px;
  height: 40px;
  padding: 5px 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #0184d6;
  color: #fff;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
  &:hover,
  &:focus {
    background-color: #05173b;
  }
}

#calc-h1 {
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}

#calc-h2 {
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.check-commerce {
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.span-checkbox {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 5px;
  background: #d6e0f5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox:checked + .check-commerce .span-checkbox {
  border: none;
  fill: #05173b;
}

.checkbox:focus + .check-commerce .span-checkbox {
  border-color: #4d5ae5;
}

.result-p {
  display: flex;
  align-items: center;
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.svg-result {
  margin-right: 10px;
}
.icon-result {
  fill: #05173b;
}

.div-result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
  width: 283px;
  height: 70px;
  padding: 15px 0px 15px 23px;
  border-radius: 5px;
  background: #cfdbf3;
}

.total-result {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.doplata {
  display: flex;
  align-items: center;
  color: #000;
  text-align: left;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.icon-result-doplata {
  fill: #ff543e;
}
.span-doplata {
  color: #ff543e;
  margin-left: 8px;
  margin-right: 8px;
}
.span-doplata-down {
  margin-left: 24px;
}
